*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 97vh;
  font-family: "Nunito",sans-serif;
  background: #222;
  background-image: url(https://source.unsplash.com/weekly?landskap);
  background-size: 100% 100%;
  width: 100%;
  background-color: #222;
}

.input{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 20px;
  opacity: 0.9;
}

.container{
	opacity: 0.9;
}
input[type="submit"]{
  padding: 13px 30px;
  margin: 10px;
  margin-top: 5%;
  background-color: black;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  box-shadow: 10px;
  font-size: 20px;
}

input[type="submit"]:hover {
  background: white;
  color: black;
}

.input input[type="text"]{
  width: 600px;
  height: 55px;
  margin: 10px;
  margin-top: 5%;
  padding: 4px 10px;
  background-color: black;
  opacity: 0.9;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

input[type="text"]:hover {
  background: white;
  color: black;
}

.card{
  width: 100%;
  max-width: 420px;
  background-color: black;
  opacity: 0.9;
  color: whitesmoke;
  padding: 1em;
  margin: 30px auto;
  margin-top: 10px;
  border-radius: 5px;
}


.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top:10px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-align: center;
}

